In [2]:
import pandas as pd
import numpy as np

In [3]:
myDict={"hasan": 28,"hüseyin":30,"mehmet":32}

pd.Series(myDict)

hasan      28
hüseyin    30
mehmet     32
dtype: int64

In [6]:
data=np.random.randn(4,3)

In [7]:
data

array([[-0.6061564 ,  0.75840707, -1.57816347],
       [ 1.27366815,  1.69915919,  2.17782302],
       [ 1.11054406, -0.73551506, -0.52090079],
       [ 0.6436464 , -0.40219612,  2.92300901]])

In [8]:
dataFrame=pd.DataFrame(data)

In [9]:
dataFrame

          0         1         2
0 -0.606156  0.758407 -1.578163
1  1.273668  1.699159  2.177823
2  1.110544 -0.735515 -0.520901
3  0.643646 -0.402196  2.923009

In [11]:
newDataFrame=pd.DataFrame(data,index=["a","b","c","d"],columns=["e","f","g"])

In [12]:
newDataFrame

          e         f         g
a -0.606156  0.758407 -1.578163
b  1.273668  1.699159  2.177823
c  1.110544 -0.735515 -0.520901
d  0.643646 -0.402196  2.923009